@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

$primary-font: 'Comfortaa', cursive;
$bgc: #2b2b2b;
$primary-text: #25ee97;
$secondary-text: #32ab77;