@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

$primary-font: 'Comfortaa', cursive;
$bgc: #2b2b2b;
$primary-text: darken(#25ee97,10);
$secondary-text: darken(#32ab77,10);