@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: $primary-font;
  background-color: $bgc;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: 80%;
  max-width: 700px;
  min-height: 150px;
  height: auto;
  height: auto;
  position: relative;
}

.quote, .author {
  position: absolute;
  color: #fff;
  opacity: .8;
}

.quote {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
}

.author {
  bottom: 1rem;
  right: 1rem;
  opacity: .6;

}


.quote-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 20px;
  font-weight: bold;
  font-family: $primary-font;
  background: linear-gradient(to right, $primary-text, $secondary-text);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .05s ease-in-out;
}

.quote-btn:hover {
  background: linear-gradient(to right, darken($primary-text, 10), darken($secondary-text, 10));
}

.quote-btn:active {
  transform: scale(.98);
}